<h1 mat-dialog-title>主桁の編集</h1>

<div mat-dialog-content>

    <section class="example-section">
        <span class="example-list-section">
            <mat-checkbox class="example-margin"
                        [checked]="allComplete"
                        [color]="task.color"
                        [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)">
            {{task.name}}
            </mat-checkbox>
        </span>
        <span class="example-list-section">
            <ul>
            <li *ngFor="let subtask of task.subtasks">
                <mat-checkbox [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (ngModelChange)="updateAllComplete()">
                {{subtask.name}}
                </mat-checkbox>
            </li>
            </ul>
        </span>
    </section>

    <hot-table
        [settings]="hotSettings"
        [rowHeaderWidth]="100"
        [stretchH]="'last'"
        height="auto"
        licenseKey="non-commercial-and-evaluation">
    </hot-table>



</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>閉じる</button>
</div>