<h1 mat-dialog-title>表示の編集</h1>

<!-- Default inline 1-->
<div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput>
    <label class="custom-control-label" for="defaultInline1">1</label>
  </div>
  <!-- Default inline 2-->
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput>
    <label class="custom-control-label" for="defaultInline2">2</label>
  </div>
  <!-- Default inline 3-->
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" mdbInput>
    <label class="custom-control-label" for="defaultInline3">3</label>
  </div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>閉じる</button>
</div>