<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">GirderGenBrpy App</h1>
        <button class="right-button" mat-icon-button (click)="download()">
            <mat-icon>cloud_download</mat-icon>
        </button>
    </mat-toolbar>


    <mat-sidenav-container class="example-sidenav-container">
        <app-three></app-three>
        <mat-sidenav #sidenav>
            <mat-list role="list">
                <mat-list-item role="listitem">延長
                    <mat-slider min="5000" max="50000" step="1000" [(ngModel)]="L" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{L}}</label>
                </mat-list-item>
                <mat-list-item role="listitem">床版幅
                    <mat-slider min="1000" max="10000" step="100" [(ngModel)]="B1" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{B1}}</label>
                </mat-list-item>
                <mat-list-item role="listitem">地覆幅
                    <mat-slider min="0" max="500" step="10" [(ngModel)]="B3" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{B3}}</label>
                </mat-list-item>
                <mat-list-item role="listitem">床版厚（中心点）
                    <mat-slider min="100" max="500" step="10" [(ngModel)]="T1" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{T1}}</label>
                </mat-list-item>
                <mat-list-item role="listitem">床版厚（地覆部）
                    <mat-slider min="100" max="500" step="1" [(ngModel)]="T2" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{T2}}</label>
                </mat-list-item>
                <mat-list-item role="listitem">桁高
                    <mat-slider min="300" max="3000" step="1" [(ngModel)]="HH" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{HH}}</label>
                </mat-list-item>
                <mat-list-item role="listitem">桁幅
                    <mat-slider min="300" max="1000" step="1" [(ngModel)]="BB" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{BB}}</label>
                </mat-list-item>
                <mat-list-item role="listitem">ウェブ厚
                    <mat-slider min="3" max="50" step="1" [(ngModel)]="TT1" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{TT1}}</label>
                </mat-list-item>
                <mat-list-item role="listitem">フランジ厚
                    <mat-slider min="3" max="50" step="1" [(ngModel)]="TT2" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{TT2}}</label>
                </mat-list-item>
                <mat-list-item role="listitem">H鋼本数
                    <mat-slider min="2" max="5" step="1" [(ngModel)]="n" (change)="redraw()"></mat-slider>
                    <label class="example-value-label">{{n}}</label>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>