<mat-selection-list #shoes [multiple]="false">
    <mat-list-option (click)="openDialog('common')">共通</mat-list-option>
    <mat-list-option (click)="openDialog('Ds')">床版</mat-list-option>
    <mat-list-option (click)="openDialog('Mg')">主桁</mat-list-option>
    <mat-list-option (click)="openDialog('Cf')">中間対傾構</mat-list-option>
    <mat-list-option (click)="openDialog('Lu,Ll')">横構</mat-list-option>
    <mat-list-option (click)="openDialog('Cr')">荷重分配横桁</mat-list-option>
    <mat-list-option (click)="openDialog('Cu')">端横桁</mat-list-option>
</mat-selection-list>