@import '~handsontable/dist/handsontable.full.css';

/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    overflow: hidden;
  }

/* Force hide horizontal scrollbars in Handsontable components */
.handsontable .wtHolder {
    overflow-x: hidden !important;
}

.handsontable .wtHider {
    overflow-x: hidden !important;
}
